#app {
	background-color: #314162;
	overflow-y: auto;
	overflow-x: hidden;
}

#app>header {
	color: white;
	background-size: cover;
	padding: 5rem 2rem;
	text-transform: uppercase;
	transition: background 1s ease;
	border-radius: 4px 4px 0 0;
} #app.freezing>header {
	background: rgb(157,186,255) url("../images/bg-freezing.svg") no-repeat;
} #app.cool>header {
	color: white;
	background: rgb(143,223,217) url("../images/bg-cool.svg") no-repeat;
} #app.hot>header {
	color: white;
	background: rgb(253,213,161) url("../images/bg-hot.svg") no-repeat;
} #app.boiling>header {
	color: white;
	background: rgb(224,165,98) url("../images/bg-boiling.svg") no-repeat;
} #app>header>#sun {
	position: absolute;
	left: calc(100% - 10rem);
	top: -2rem;
	width: 12rem;
	transition: opacity 1s ease;
} #app.cool>header>#sun {
	opacity: .5;
} #app.freezing>header>#sun {
	opacity: 0;
} #app>header>h1 {
	margin-bottom: .5rem;
	font-size: 1rem;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-weight: 900;
	margin-right: .5rem;
} #app>header>#avgtmp {
	font-weight: 500;
	font-size: 5rem;
	width: 256px;
} #app>header>#avgtmp::after {
	font-weight: 300;
	content: "°";
	font-size: .75em;
	position: relative;
	top: -.225em;
} #app>header>p {
	font-size: 1rem;
	font-weight: 300;
}

#app>#rooms>.room {
	color: white;
	font-weight: 300;
	text-transform: uppercase;
	padding: 1rem 2rem;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	position: relative;
} #app>#rooms>.room::before {
	content: "";
	width: .5em;
	height: .5em;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	background-color: #00CA00;
	left: 1rem;
	top: 1.35rem;
} #app>#rooms>.room.occ.bkd::before {
	background-color: #CA3900;
} #app>#rooms>.room.occ::before,
	#app>#rooms>.room.bkd::before {
	background-color: #CA8A00;
} #app>#rooms>.room:hover,
	#app>#rooms>.room:focus {
	background-color: rgba(225, 225, 255, .15);
} #app>#rooms>.room>h2 {
	font: inherit;
} #app>#rooms>.room>p::after {
	font-weight: 300;
	content: "°";
	font-size: .75em;
	position: relative;
	top: -.225em;
}